{% extends 'base.html' %}

{% block head %}

    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/maleluca_action.css') }}">

{% endblock %}

{% block body %}

    <!-- Leaf animation -->
    <div class="leaf_animation" id="automatic_anim">
        <div class="mySlides fade">
            <img class="carousel" src="./static/img/img2.jpg">
            <div class="text">Caption Text</div>
          </div>
          
          <div class="mySlides fade">
            <img class="carousel" src="./static/img/img1.avif">
            <div class="text">Caption Two</div>
          </div>

          
          </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
          </div>
    </div>

    <!-- Neural network animation -->
    <div class="nn_animation" id="gif_anim">

    </div>

    <!-- Input and prediction -->
    <div class="input_nn">
        <form method="POST" class="img_submit">
            <input name="candidate" class="candidate">
            <input type="subit" class="bttn">
        </form>
        
        <div class="prediction_div">
            <p class="pred_title">Label</p>
            <p class="prediction">{{ prediction }}</p>
        </div>
    </div>


    <script src="{{url_for('static', filename='scripts/automatic_slide.js')}}"></script>
{% endblock %}